<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>
  <body>
    <script type='text/javascript' src='https://hideack3.shop-pro.jp/?mode=cartjs&pid=41733509&style=basic&name=n&img=n&expl=n&stock=n&price=n&inq=n&sk=n&w=1' charset='euc-jp'></script>
    <script type='text/javascript'>
      $('.cartjs_box').hide()
      $('form').submit();
    </script>
  </body>
</html>
